.setting{
    background-color: var(--border-color);
    height: 100vh;
    color: var(--text-color-secondary);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    position: fixed;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 250px;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    /* position: relative; */
    transition: transform 0.5s ease-in-out;

}
/* body.show{
    transform: translateX(250px);
} */
.setting.show{
    transform: translateX(0);
    /* box-shadow: 0px 0 23px var(--border-color); */
}

.upper-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 33%;
    border-bottom: 1px solid var(--text-color-primary);
    
}
.notes{
    display: flex;
    margin-left: 25px;
    margin: 1em 30px;
}

.icon-text{
    margin: 0 15px;
    font-size: 15px;
    color: var(--text-color-secondary) !important;
}
.header{
    color: var(--text-color-primary);
    font-weight: 700;
    font-size: 17px;
    margin-top: 25px;

}
.tags-side{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--text-color-primary);
    
    height: 50%;
    width: 100%;
    padding-left: 30px;
}
.tags-side > ul{
    list-style: none;
    padding: 0;
}
.tags-list-side {
    margin: 10px 0px;
    font-weight: 200;
}
.close-side-left{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}
.icon-setting-link{
    color: var(--text-color-secondary) !important;
}
.icon-setting-link.active,.icon-text.active{
    color: lightskyblue !important;
}